body {
    font-family: "Tahoma", Geneva, sans-serif;
    padding: 0px 20px 0px 20px;
    color: #404040;
}

.highcharts-legend-item {
    margin: 5px 0px 5px 0px;
}

.donut-chart-container {
    /*min-width: 400px;*/
    /*max-width: 800px;*/
}

.bar-chart-container {
    width: 800px;
    height: 200px;
}