body {
    /*font-family: "Tahoma", Geneva, sans-serif;*/
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    padding: 0px 20px 0px 20px;
    color: #404040;
}

.highcharts-legend-item {
    margin: 5px 0px 5px 0px;
}

.donut-chart-container {
    /*min-width: 400px;*/
    /*max-width: 800px;*/
}

.bar-chart-container {
    width: 800px;
    height: 200px;
}

.bar-chart-divider {
    height: 2px;
    width: 550px;
    background-color: lightgray;
    margin-left: 58px;
}

.widget-container {
    width: 800px;
}

.widget-title-container {
    display: inline-block;
}

.widget-title {
    color: #333333;
    font-size: 20px;
    font-weight: 400;
    margin-left: 18px;
}

.widget-subtitle {
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    margin-left: 18px;
}

.building-select {
    float: right;
    margin: 30px;
}