body {
    font-family: "Tahoma", Geneva, sans-serif;
    padding: 0px 20px 0px 20px;
    color: #404040;
}

.highcharts-legend-item {
    margin: 5px 0px 5px 0px;
}

/*.chart-title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
}

.chart-subtitle {
    font-size: 12px;
    font-weight: 400;
    color: #808080;
    margin-top: 5px;
}

.donut-chart {
    display: inline-block;
    vertical-align: middle;
}

.donut-chart-legend {
    display: inline-block;
    vertical-align: middle;
}

.legend-circle {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
}

.legend-item-name {
    font-size: 12px;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 8px 12px 8px 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    border-radius: 2px;
    font-size: 10px;
    font-weight: 100;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    font-size: 10px;
    width: 100%;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
    margin-top: 7px;
    /* -12 below comes from the amount of left padding on .d3-tip*/
    -ms-transform: translate(-12px, 0px);
    -webkit-transform: translate(-12px, 0px);
    transform: translate(-12px, 0px);
}

.tooltip-category {
    color: #D0D0D0;
}